
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
}


body {
    
    background-image: url('/assets/mun.jpg');
    background-size: 100%;
    background-attachment: fixed;
    
    
}

header{
    margin-top: 32px;
}
.nav-bar {
    background: #FFD700;
    margin: 0 auto;
    width: 75%;
    font-size: 96px;
    padding: 32px;
    padding-bottom: 64;
    font-weight: bold;

}
.nav-bar-options {
    font-size: 48px;
    text-align: center;
    color: white;
}


.nav-bar-options span {
    padding-right: 16;
    padding-left: 16;
}
.title {
    text-align: center;
}

.main-content{
    margin: 0 auto;
    width: 75%;
    margin-top: 32px;
    background-color: white;
    align-self: center;
    padding: 32px;
    min-height: calc(100vh - 421px);
    

}

.in-text-photo {
    padding-right: 3%;
    padding-bottom: 3% 
}


.page-title{
    text-align: center;
    padding: 20px;
}

.people {
    width:100%;
    margin: 0 auto;
}

.pic {
    padding-bottom: 20px;
    padding-right: 20px;
    width: 15%;
    vertical-align: top;
    max-width: 750px;
    float: left;

}

.member {
    display: inline-block;
    padding:0.2em;
    width:33em;
}


footer {
    margin: 0 auto;
    width: 75%;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 32px;
    text-align: center;
    background: #FFD700;
    max-height: 80px;
    
}

.tier-one {
    max-height: 200px;
     
}


button {
    color: black;
    height: 100px;
    background-color: lightblue;
    font-size: 40px;
}


a {text-decoration: none;}
a.nav-bar-options-inactive:link {color: white}
a.nav-bar-options-inactive:visited  {color: white}
a.nav-bar-options-inactive:hover {color: blue;}
a.nav-bar-options-active {color: blue;}
a.title:visited {color: blue}
a.title:active {color: blue}
